### Creating a DataFrame

In [1]:
# Load Libraries

import numpy as np
import pandas as pd

In [2]:
dataframe = pd.DataFrame()

# Add column
dataframe['Nmae'] = ['John', 'Doe', 'Alex']
dataframe['Age'] = [20, 23, 27]
dataframe['Driver'] = [True, False, True]

dataframe

   Nmae  Age  Driver
0  John   20    True
1   Doe   23   False
2  Alex   27    True

In [3]:
# Creating dataframe from dictionary 
dic = {'a':10, 'b':20, 'c':30}
dataframe_from_dictionary = pd.DataFrame

dic

{'a': 10, 'b': 20, 'c': 30}

### Creating a Series 
pd.Series(data = {list, dic, array}, index={number, list or any or don't apply})

In [4]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
array = np.array([10,20,35])
dictionary = {'a':10, 'b':20, 'c':30}

series = pd.Series(data = my_list, index = labels)
series

a    10
b    20
c    30
dtype: int64

In [5]:
# Seires from Dictionary

# When taken from dictionary the keys become index and value becomes data

series_from_dictionary = pd.Series(dictionary)
series_from_dictionary

a    10
b    20
c    30
dtype: int64

In [6]:
dataframe = pd.DataFrame(dictionary, index = [1, 2,3])
dataframe

    a   b   c
1  10  20  30
2  10  20  30
3  10  20  30